
<html>
<title>Jobs</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>

<body>

    <div class="card-container" style="display:flex;" >
        
        <div class="card" style="width: 220px;height:fit-content; border:1px solid lightgray;">
            
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            
        </div>
        <div class="card" style="width: 220px;height:fit-content; border:1px solid lightgray;">
        
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        
        </div>
        <div class="card" style="width: 220px;height:fit-content; border:1px solid lightgray;">
        
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        
        </div>
        <div class="card" style="width: 220px;height:fit-content; border:1px solid lightgray;">
        
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        
        </div>
        <div class="card" style="width: 220px;height:fit-content; border:1px solid lightgray;">
        
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        
        </div>
        <div class="card-container" style="display:flex;">
        
            <div class="card" style="width: 220px;height:fit-content; border:1px solid lightgray;">
        
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
        
            </div>
        
    </div>
   

</body>

</html>