
html,body{
    height: 100%;
    margin: 0;
}

.intro__page{
width: 100vw;
height: 100vh;
overflow: hidden !important;

}
.steve_jobs {
    position: absolute;
    z-index: -20;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

@media only screen and (max-width:720px){
  
    .steve_jobs{
        
    }
}