
html,body{
    height: 100%;
    margin: 0;
}

.intro__page{
width: 100vw;
height: 100vh;
overflow: hidden !important;


}

.job_back {
    position: absolute;
    z-index: -20;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}
.home-btn{
    height: 40px;
    background-color: black;
   color: yellow;
   padding: 12px;
   border-radius: 8px;
   filter: drop-shadow(2px 3px 5px black);
   margin-top: 30px;


}
.home-btn:hover{
    background-color: yellowgreen;
    color: black;
}
#root>div.intro__page>div>a{
    text-align: center;
}
#root>div.intro__page>div>span{
    margin-top: 20%;
}
#root>div.intro__page>div>span.styles-module_blinkingCursor__yugAC.styles-module_blinking__9VXRT{
    display: none;
}
#root>div.intro__page>div>span:nth-child(1){
    font-family: cursive;
    font-size: 4rem;
    color: yellow;
    font-weight: bold;
}